// * Colors
$COLOR_WHITE: #fdf5e6;
$COLOR_VIOLET: #6f42c1;
$COLOR_PURPLE: #a070ff;

$COLOR_SECONDARY: black;
$BLACK_ONE: #020001;
$BLACK_TWO: #110011;
$BLACK_THREE: #262335;
$BLACK_FOUR: #030200;
$BLACK_FIVE: rgb(43, 26, 54);

// * BUTTON WIDTHS
$BUTTON_WIDTH: 140px;
$BUTTON_HEIGHT: 45px;


