
/* 
  ##Device = Large Screen Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .container {
    max-width: 1200px;    // * The Container won't ever go over 1200 px, whatever the window size may be...
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  
  .container {
    max-width: 1024px;
  }

  .project {
    flex-direction: row;
    .media {
      width: 50%;
    }
    .project-info {
      width: 50%;
    }
  }

  
  
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */

  .container {
    max-width: 767px;
  }
  
  // * Change Button Width
  .buttons {
    button {
      width: 130px;
    }
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .container {
    max-width: 767px;
  }
  // * Change Button Width
    .buttons {
      button {
        width: 130px;
      }
    }


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
  /* CSS */

  .container {
    max-width: 480px;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 120px) and (max-width: 480px) {

  // /* CSS */
  // .container {
    // max-width: 119px;
  // }
}

// * Changes FlexBox Layout on Smaller Devices
@media (min-width: 120px) and (max-width: 1024px) {
  // /* CSS */
  .project {
    flex-direction: column;

    .media {
      width: 100%;
    }

    .project-info {
      width: 100%;
    }
  }
}
