.project {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  .media {
    width: 50%;
    align-self: center;
    display: flex;
    img {
      // * Standard Image Properties
      height: auto;
      width: 100%;
      max-width: 100%; 
      
    }
  }

  .project-info {
    // flex: 1 1 auto;
    width: 50%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    color: $COLOR_WHITE;
    padding: 10px;

    h1 {
      text-transform: uppercase;
      font-size: 1.8rem;

    }

    p {
      font-weight: 100;
      line-height: 1.6;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .link-container {
      display: inline-block;
    }
  }
}

.tag {
  background-color: $COLOR_VIOLET;
  color: $COLOR_WHITE;
  padding: .25em 1em;  
  line-height: 2;
  border-radius: 1rem;
  font-weight: 500;
  
  text-transform: uppercase;
}