#toolkit {
  ul.wrapper-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: 100px;
    grid-gap: 4rem;
    justify-items: center;
    align-items: center;
    list-style: none;
    text-align: center;
    text-transform: uppercase;

    li {
      svg {
        // font-size: 3.5rem; // Icon Size
        transition: 0.5s;
        display: inline-block;
        width: 3.5em; // * Size of Logos

        &:hover {
          transition: 0.5s;
          transform: scale(
            1.1
          ); // This only works when we apply inline block to (li > i)
        }
        path {
          fill: white;
        }
      }
      h3 {
        margin-top: 5px;
        font-weight: 100;
        text-shadow: 2px 3px 7px rgba(255, 255, 255, 0.4);
      }
    }
    // ? Remove the second hover selector if you want to keep the skills colored
    .html5 path, .html5:hover path {
      fill: #e44c25;
    }
    .css3 path, .css3:hover path {
      fill: #2795d3;
    }
    .sass path, .sass:hover path {
      fill: #cf649a;
    }
    .bootstrap path, .bootstrap:hover path {
      fill: #9400d3;
    }
    .javascript path, .javascript:hover path {
      fill: #f7df1c;
    }
    .typescript path, .typescript:hover path {
      fill: #106ab0;
    }
    .react path, .react:hover path {
      fill: #61dbfb;
    }
    .redux path, .redux:hover path {
      fill: #764abc;
    }
    .node path, .node:hover path {
      fill: #00a86b;
    }
    .express path, .express:hover path {
      fill: grey;
    }
    .mongodb path, .mongodb:hover path {
      fill: #4db33d;
    }
    .graphql path, .graphql:hover path {
      fill: #e535ab;
    }
    .git path, .git:hover path {
      fill: #e44c25;
    }
    .webpack path, .webpack:hover path {
      fill: #8ed5fa;
    }
    .github path, .github:hover path {
      fill: #6f42c1;
    }
    .vscode path, .vscode:hover path {
      fill: #0078d7;
    }
    .amazonaws path, .amazonaws:hover path {
      fill: #ff9900;
    }
    .elixir path, .elixir:hover path {
      fill: #6f517a;
    }
  }
}
